body {
    margin: 0px;
    font-family: 'Noto Sans';
    background-color: rgba(0, 0, 0, 0.8);
}

.header {
    background-color: rgb(66, 0, 151);
    min-height: 76px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0px;
}

.backgroundWhite {
    background-color: white;
}

.styleCard {
    border-radius: 10px;
    margin: 16px;
    background-color: rgb(119, 119, 119, 1.0);
}

.dashboard {
    display: flex;
    justify-content: start;
}

.tableBitcoin {
    height: 100%;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}

.dashboardRight {
    min-height: 80vh;
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.graph {
    padding: 16px;
    margin: 16px;
}

.graphUser {
    height: 100%;
}

.paddingLeftRight {
    padding-left: 16px;
    padding-right: 16px;
}

.paddingTopBottom {
    padding-top: 16px;
    padding-bottom: 16px;
}


.chartPlace {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}


.graphUser form {
    padding-left: 16px;
    padding-bottom: 16px;
}

.displayNone {
    display: none !important;
}

.paddingNav {
    padding-left: 16px;
    padding-top: 16px;
}

.dateValidationResponse {
    padding: 16px;
}

.withoutPaddingLeft {
    padding-left: 0px !important;
}

@media (max-width: 950px) {
    .dashboard {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .tableBitcoin {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .styleCard {
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .graph {
        margin-top: 8px;
        margin-bottom: 16px;
        margin-left: 16px;
        margin-right: 16px;
        padding-bottom: 8px;
    }

    /* .dashboardRight {
        padding-right: 4px;
        padding-left: 4px;
        padding-top: 4px;
        margin-top: 4px;
        justify-content: start;
        min-height: 100vh;
    } */

    .graphUser {
        /* display: flex;
        flex-direction: column; */
        height: 100%;
    }

    h3 {
        margin-top: 0px;
        padding-top: 16px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

}